.name {
    color: rgb(102, 8, 78);
    font-weight: bold;
}

.table {
    color: rgb(94, 4, 4);
    bordercolor="#000000"
}

.avatar {
    position: absolute;
    top: 45px;
    left: 20px;
}

.info {
    margin: 30px;
    position: relative;
    top: 10px;
    left: 110px;
}

